server:
  address: 0.0.0.0
  port: ${PORT:8080}

spring:
  application:
    name: WaitZero

  config:
    import: optional:classpath:application-secrets.properties

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/waitzero?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&serverTimezone=UTC
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}

  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 5MB

  mvc:
    hiddenmethod:
      filter:
        enabled: true

  sql:
    init:
      mode: never

  flyway:
    enabled: false


  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true




---
spring:
  config:
    activate:
      on-profile: postgres

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/waitzero
    username: ${POSTGRES_USER:waitzero}
    password: ${POSTGRES_PASSWORD:waitzero}


  flyway:
    enabled: true
    locations: classpath:db/migration


  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true


