spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:waitzero;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

  h2:
    console:
      enabled: false

  flyway:
    enabled: false