<!DOCTYPE html>
<html lang="en">
<head th:fragment = "head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WaitZero</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">

</head>
<body>
<header th:fragment="navigation">
    <nav class="main-nav">
        <ul>
            <th:block th:if="${@currentUser.id == null}">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/locations">Locations</a>
                </li>
                <li>
                    <a href="/users/login">Login</a>
                </li>
                <li>
                    <a href="/users/register">Register</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </th:block>
            <th:block th:unless="${@currentUser.id == null}">
                <li>
                    <a href="/locations">Locations</a>
                </li>
                <li th:if="${session.CURRENT_TICKET_ID != null}">
                    <a th:href="@{/tickets/current}">My ticket</a>
                </li>
                <li>
                    <a href="/staff/panel">Staff panel</a>
                </li>
                <li>
                    <a th:href="@{/users/profile/{id}(id=${@currentUser.id})}">Profile</a>
                </li>
                <li>
                    <a href="/users/logout">Logout</a>
                </li>
            </th:block>
        </ul>
    </nav>
</header>

<footer th:fragment="footer" class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; WaitZero. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>