<!DOCTYPE html>
<html lang="en">
<head th:fragment = "head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WaitZero</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
<header th:fragment="navigation">
    <nav class="main-nav">
        <ul>
            <th:block th:if="${@currentUser.id == null}">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/locations">Locations</a>
                </li>
                <li>
                    <a href="/users/login">Login</a>
                </li>
                <li>
                    <a href="/users/register">Register</a>
                </li>
            </th:block>
            <th:block th:unless="${@currentUser.id == null}">
                <li>
                    <a href="/locations">Locations</a>
                </li>
                <li th:if="${session.CURRENT_TICKET_ID != null}">
                    <a th:href="@{/tickets/current}">My ticket</a>
                </li>
                <th:block th:if="${@currentUser.role == T(dev.waitzero.waitzero.model.entity.UserRole).STAFF
                  or @currentUser.role == T(dev.waitzero.waitzero.model.entity.UserRole).ADMIN}">
                    <li>
                        <a href="/staff/panel">Staff</a>
                    </li>
                </th:block>
                <li>
                    <a th:href="@{/users/profile/{id}(id=${@currentUser.id})}">Profile</a>
                </li>
                <li>
                    <a href="/users/logout">Logout</a>
                </li>
            </th:block>
        </ul>
    </nav>
</header>

<footer th:fragment="footer" class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <small class="footer-copy">
            &copy; WaitZero. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>