# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy JAR app to Azure Web App - waitzero-boryana

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      
      - name: Grant execute permission for gradlew
        run: chmod +x WaitZero/gradlew

      
      - name: Build with Gradle
        working-directory: WaitZero
        run: ./gradlew clean bootJar -x test

      
      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: WaitZero/build/libs/*.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app
          path: app

      - name: Login to Azure (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

     
      - name: Remove plain jar (if exists)
        run: rm -f app/*-plain.jar

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: waitzero-boryana
          package: app/*.jar






